<div id="image-rotator">
		<ul>
			<li><a href="#"><img src="assets/images/banner/banner1.jpg" height="438" /></a></li>
			<li><a href="#"><img src="assets/images/banner/banner2.jpg" height="438" /></a></li>
			<li><a href="#"><img src="assets/images/banner/banner3.jpg" height="438" /></a></li>
			<li><a href="#"><img src="assets/images/banner/banner4.jpg" height="438" /></a></li>
			<li><a href="#"><img src="assets/images/banner/banner5.jpg" height="438" /></a></li>
		</ul>
	</div>
<br/>
<div>
	<button (click)="callRestService()">Call Rest Service</button>

</div>	
