/* You can add global styles to this file, and also import other style files */


#image-rotator {
	position: relative;
	overflow: hidden;
	z-index: 888;
	width: 100% !important;
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.42);
	width: 100%;
}

#image-rotator ul {
	list-style: none;
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
}

#image-rotator ul li {
	float: left;
	position: relative;
	width: 100%;
}

#image-rotator ul li img {
	width: 100%;
	height: 100%;
}

#image-rotator ol {
	position: absolute;
	bottom: 15px;
	right: 10px;
	list-style: none;
	z-index: 999;
}

#image-rotator ol li {
	width: 10px;
	height: 10px;
	float: left;
	margin: 5px;
	border-radius: 50%;
	cursor: pointer;
	background-color: #fff;
}

#image-rotator ol li.on {
	background: #FF5C1B;
}


* {
    margin: 0;
    padding: 0;
  }
  
  #slide-box {
    position: relative;
    overflow: hidden;
    z-index: 888;
    margin:0 auto;
  }
  
  #slide-box ul {
    list-style: none;
    position: absolute;
    left: 0;
    top: 0;
  }
  
  #slide-box ul li {
    float: left;
    position: relative;
  }
  
  #slide-box ul li img {
    width: 100%;
    height: 100%;
  }
  
  #slide-box ol {
    position: absolute;
    bottom: 15px;
    right: 10px;
    list-style: none;
    z-index: 999;
  }
  
  #slide-box ol li {
    width: 10px;
    height: 10px;
    float: left;
    margin: 5px;
    border-radius: 50%;
    cursor: pointer;
    background-color: #fff;
  }
  
  #slide-box ol li.on { background: #FF5C1B; }
  